.mainContainerDressCode{
    background-image: url('../../../../Assets/images/menHeader.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;


}
#root{
    overflow: hidden !important;
}
.innerContainerDressCode{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.59);
    display: flex;
    justify-content: center;
}
.dressCodeImg{
    margin-right: 81px;
    /* width: 100%; */
}
.topStylishTailTxtBtn{
    margin-left: 92px;
}
.personalStylingTxt{
    font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 110.6%;
/* or 106px */
margin: 0px;

letter-spacing: -0.03em;
max-width: 290px;
color: #25282A;


}
.spPersonalStyling{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 110.6%;
    /* or 106px */
    
    letter-spacing: -0.03em;
    
    color: #25282A;

}
.btnTakeStyleQuiz{
    background: #25282A;
    width: 212px;
    height: 55px;
    border: none;
    border-radius: 35px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 141.6%;
    color: #FFFFFF;
    margin-top: 36px;
}
.dressCodeRights{
   
    /* margin-top: 50px;
    margin-bottom: 50px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: center;
  

    /* width: 50%; */

}
.dressCodeLeft{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.verticalLine{
    width: 2px;
height: 261px;


background: #000000;

}

@media (max-width:725px) {

    .dressCodeImg {
    margin-right: 30px;
  }
    .topStylishTailTxtBtn {
    margin-left: 30px;}


}

@media (max-width:600px) {
    .mainContainerDressCode{
        height: auto;
       

    }
    .innerContainerDressCode{
        flex-direction: column;
        padding: 60px 0px;
        align-items: center;
    }
    .dressCodeLeft{
        width: auto;
    }
    .dressCodeRights{
        width: auto;
    } 
    .dressCodeRights {
        margin-top: 40px;
    }
}


